{% extends "base.html" %}

{% block content %}
    <style>
        .produto-card {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            width: 500px;
            margin: auto; /* Adicionado para centralizar horizontalmente */
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            margin: 10px 0;
            color: #666;
        }

        p.inline-block {
            display: inline-block; /* Adicionado para colocar em linha */
            margin-top: 15px;
            color: #333;
        }

        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            margin: 5px;
        }

        button.voltar {
            background-color: red;
            color: white;
        }

        button.editar {
            background-color: #007BFF;
            color: white;
        }

        .info-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .info-table td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            /* Adicionando espaço entre as colunas */
            padding-right: 20px;
        }

        .info-table td:first-child {
            font-weight: bold;
            color: #333;
            width: 70%; /* Ajuste da largura da primeira coluna */
        }
    </style>

    <div class="produto-card">
        <h1>Informações do JOB {{ object.Job }}</h1>
        <table class="info-table">
            <tr>
                <td><strong>Job:</strong></td>
                <td>{{ object.Job }}</td>
            </tr>
            <tr>
                <td><strong>Série:</strong></td>
                <td>{{ object.Serie }}</td>
            </tr>
            <tr>
                <td><strong>Quantidade de Pontos:</strong></td>
                <td>{{ object.qtdPontos }}</td>
            </tr>
            <tr>
                <td><strong>Quantidade de Resistência:</strong></td>
                <td>{{ object.qtdResistencia }}</td>
            </tr>
            <tr>
                <td><strong>Formato do Bloco:</strong></td>
                <td>{{ object.formatoBloco }}</td>
            </tr>
            <tr>
                <td><strong>Entre Centros X:</strong></td>
                <td>{{ object.entreCentrosX }}</td>
            </tr>
            <tr>
                <td><strong>Entre Centros Y:</strong></td>
                <td>{{ object.entreCentrosY }}</td>
            </tr>
            <tr>
                <td><strong>Observações:</strong></td>
                <td>{{ object.obs }}</td>
            </tr>
        </table>
        <p class="inline-block">PDF:</p><a href="{{ object.pdf.url }}" target="_blank">Visualizar</a><br>
        <a href="{% url 'EditaBloco' pk=object.pk %}"><button class="editar">Editar</button></a>
        <a href="{% url 'ListaBloco' %}"><button class="voltar">Voltar</button></a>
    </div>

{% endblock %}
