{% extends "base.html" %}

{% block content %}
    <style>
        .produto-grid{
            width: 94%;
            float: left;
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .filters {
            width: 30%;
            float: left; /* Adiciona float para que o elemento flutue à esquerda */
            margin-top: 25px;
        }

        .form-filter {
            clear: both; /* Limpa os floats anteriores */
        }

        .card:hover {
            transform: scale(1.02);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .static {
            position: fixed;
            bottom: 20px;
            right: 40px;
            background-color: #007bff;
            color: #fff;
            border-radius: 10px;
            padding: 8px;
            padding-top: 2px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .static b{
            font-size: 35px;
        }

        form {
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        input[type="text"], [type="number"], button{
            width: 130px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #id_Serie{
            border: 1px solid #ccc;
            width: 130px;
            padding: 5px;
            margin: 0;
            margin-right: 10px;
        }

        input[name="search"]{
            width: 600px;
            margin: 20px 0px;
            margin-right: 20px;
        }

        button {
            padding: 6px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .one, .two, .three, .four, .five{
            background-color: rgb(230, 229, 229);
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            border: 1px solid black;
        }

        span{
            font-size: 14px;
            color: black;
        }        

        select{
            width: 180px;
            height: 35px;
            margin: 0px 10px;
            border-radius: 5px;
        }

        #jobs{
            font-size: 22px;
            font-weight: bold;
        }

        .filters{
            width: 100%;
            color: rgb(0, 0, 0);
        }

        th.name-filter{
            width: 142px;
        }

        </style>

    <form method="GET" action="{% url 'ListaBloco' %}" class="form-filter">
        <h1>Tabela de blocos</h1>
        <div class="filters">
            <table>
                <thead>
                    <tr>
                        <th class="name-filter">Série:</th>
                        <th class="name-filter">Qtd. Pontos:</th>
                        <th class="name-filter">Qtd. Resistencia:</th>
                        <th class="name-filter">FormatoBloco:</th>
                        <th class="name-filter">EntreCentrosX:</th>
                        <th class="name-filter">EntreCentrosY:</th>
                        <th class="name-filter">Job:</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{filter.form.Serie}}</td>
                        <td>{{filter.form.qtdPontos}}</td>
                        <td>{{filter.form.qtdResistencia}}</td>
                        <td>{{filter.form.formatoBloco__formato}}</td>
                        <td>{{filter.form.entreCentrosX}}</td>
                        <td>{{filter.form.entreCentrosY}}</td>
                        <td>{{filter.form.Job}}</td>
                        <td><button type="submit">Buscar</button></td>
                    </tr>
                </tbody>
            </table>
        </div><!--Filter-->
    </form>

    <div class="produto-grid">
        {% if produto %}
            {% for object in produto %}
            <a href="{% url 'DetalheBloco' object.pk %}">
                <div class="card">
                    <div class="content-box">
                        <span id="jobs">JOB {{ object.Job }}</span>
                        <span class="three">Formato: {{ object.formatoBloco }}</span>
                        <span class="four">Qtd de pontos: {{ object.qtdPontos }}</span>
                        <span class="one">X: {{ object.entreCentrosX }}</span>
                        <span class="two">Y: {{ object.entreCentrosY }}</span>
                        <span class="five">OBS: {{ object.obs }}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endif %}
    </div>
    <a href="{% url 'novoBloco' %}" class="static"><b>+</b>
        <i class="fas fa-plus"></i> <!-- Ícone de adição do Font Awesome -->
    </a>


{% endblock %}