{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .voltar{
        width: 80px;
        margin: 5px;
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        display: inline-block; /* Adicionado para alinhar na mesma linha */
    }
  
    .botao-submit{
        width: 90px;
        background-color: rgb(3, 189, 0);
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        display: inline-block; /* Adicionado para alinhar na mesma linha */
    }

    #div_id_pdf{
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #cdcdcd;
        color: white;
        border-radius: 5px;
    }
  
  </style>
<div class="produto-card">
    <h1>Adicionar novo Bloco</h1>
    <form method="post" class="form-alinhado-esquerda" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <label class="custom-file-upload">
            <input type="file" name="pdf" id="pdf">
        </label>
        <br>
        <input type='submit' name="Atualizar" id="Atualizar" class="botao-submit">
        <a href="{% url 'ListaBloco' %}"><button class="voltar">Voltar</button></a>
    </form>
</div>
{% endblock %}
