{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<style>
  .voltar{
      width: 80px;
      margin: 5px;
      background-color: red;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
  }

  .create{
      width: 90px;
      background-color: rgb(3, 189, 0);
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      text-align: center;
  }

</style>
<form action="" method="post">

  {% csrf_token %}

  {{ form|crispy }}

  <input class="create" type="submit" value="Adicionar" />
  <a href="{% url 'ListaJob' %}"><button class="voltar">Voltar</button></a>

</form>

{% endblock %}