{% extends "base.html" %}

{% block content %}
    <style>
        .produto-card {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            width: 500px;
            margin: auto; /* Adicionado para centralizar horizontalmente */
        }



        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            margin: 10px 0;
            color: #666;
        }

        p.inline-block {
            display: inline-block; /* Adicionado para colocar em linha */
            margin-top: 15px;
            color: #333;
        }

        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            margin: 5px;
        }

        button.voltar {
            background-color: red;
            color: white;
        }

        button.editar {
            background-color: #007BFF;
            color: white;
        }

        .container-fluid, .produto-card{
            height: 100%;
        }

        .info-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .info-table td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        .info-table td:first-child {
            font-weight: bold;
            color: #333;
            width: 30%;
        }

    </style>
<div class="produto-card">
    <h1>Informações do JOB {{ object.job }}</h1>
    <table class="info-table">
        <tr>
            <td><strong>Job:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.job }}</td>
        </tr>
        <tr>
            <td><strong>Status Engenharia:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.Status_Engenharia }}</td>
        </tr>
        <tr>
            <td><strong>Status Projeto:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.Status_Projeto }}</td>
        </tr>
        <tr>
            <td><strong>Responsável:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.Responsavel }}</td>
        </tr>
        <tr>
            <td><strong>Corrigido:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.Corrigido }}</td>
        </tr>
        <tr>
            <td><strong>Data de Alojamento:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.Data_Alojamento }}</td>
        </tr>
        <tr>
            <td><strong>Data de Detalhamento:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ object.Data_Detalhamento }}</td>
        </tr>
    </table>
    <a href="{% url 'EditaJob' pk=object.pk %}"><button class="editar">Editar</button></a>
    <a href="{% url 'ListaJob' %}"><button class="voltar">Voltar</button></a>
</div>


{% endblock %}